<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= pageTitle %></title>
        <!-- <link rel="stylesheet" href="/css/coins.css"> -->
    </head> 

        <body>
            <main>
                <form class="investment-form" action="new-investment" method="POST">
                    <div class="form-control">
                        
                        <label for="coin">Coin</label>
                        <select id="name" name="name">
                            <% coins.forEach(coin => { %> 
                            <option value="<%= coin.id %>" ><%= coin.name %> </option>
                            <% }); %> 
                        </select>
                        
                    </div>
                    <div class="form-control">
                        <label for="price">Price Bought At</label>
                        <input type="text" name="coinPrice" id="coinPrice" value="">
                    </div>
                    <div class="form-control">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" id="quantity" step="0.01" value="">
                    </div>
                    <% //if (editing) { %>
                        <!-- <input type="hidden" value="<%= //investment.id %>" name="investmentId"> -->
                    <% //} %>
        
                    <button class="btn" type="submit">Add investment</button>
                </form>
            </main>
        </body>


</html>