
  .form-container-add {
    background-color: #30475E;
    border-radius: 24px;
    border-style: solid;
    border-color: #F2A365;
    border-width: 2px;
    padding: 48px;
    width: 600px;
  }
  
/*   
  .new-form-add {
    border: none;
    border-radius: 10px;
    background-color: #222831;
    color: #ECECEC;
    width: 150%;
   } */
  
  .form-dropdown {
    background-color: #30475E;
    border-style: solid;
    border-color: #F2A365;
    border-width: 2px;
  
  }
  
  .form-control {
      border: none;
      border-radius: 10px;
      background-color: #30475E;
      color: #ECECEC;  
  }

  .form-control:focus{
    background-color: #30475E;
    border-style: solid;
    border-color: #F2A365;
    border-width: 2px;
  }
  

  .btn-main {
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    background-color: #F2A365;
    color: #ECECEC;
    text-decoration: none;
    padding: 2px; }
    .btn-main:hover {
      text-decoration: none;
      color: #30475E; }


      button, input, optgroup, select, textarea {
          background-color: #222831;
          border-radius: 8px;
          color:#ECECEC;
      }

      body {
        background-color: #222831; }
